/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

#navbarNavDropdown,
.notice {
  margin-bottom: 0;
}

.card {
  display: inline;
}

.card-img-top {
  object-fit: cover;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

//Show page
#pic img {
  width: 100%;
  height: auto;
}

.action .button_to {
  display: inline-block;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

#counter {
  padding: 0;
  background: #45b12b;
  border-color: #45b12b;
}

#cart-button-container:hover,
#login-shopping:hover {
  background: transparent;
}

#login-shopping td{
  border-top: none;
}

.btn a {
   text-decoration: none;
   color: #fff
 }

.btn,
.btn-primary {
  border-color: #4ea721;
  background: #4ea721;
}

.btn:hover {
  border-color: #5fc128;
  background: #5fc128;
}

.btn:active,
.btn-primary:active {
  border-color: #5fc128 !important;
  background: #5fc128 !important;
}

.bg-primary {
  background: #948f6d !important;
}

body {
  background: url("/uploads/38035261-grass-pictures.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
}

.row,
section,
.section {
  background: rgba(0,0,0,0.4);
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
}

.details {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0,0,0,0.6);
  border-radius: 20px;
}

.card {
  color: rgba(0,0,0,0.8);
}

table {
  background: rgba(0,0,0,0.6);
}

a {
  color: rgba(255, 255, 255, 0.8);
}

.form-text {
  color: rgba(255, 255, 255, 0.8) !important;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

.dropdown-item:hover,
.dropdown-item:active {
  background: #4ea721;
}

.btn-danger,
.btn-danger:active {
  background: #a30100 !important;
  border-color: #a30100 !important;
}

.btn-success,
.btn-success:active {
  background: #b7b822 !important;
  border-color: #b7b822 !important;
}

input[type="submit"]:active {
  background: #4ea721;
}

.check-price {
  white-space: nowrap;
}
