<p>Hello <%= @resource.email %>!</p>

<p>Jelszavad megváltoztasát igényelték. A lentebbi linkkel végre tudod ezt hajtani.</p>

<p><%= link_to 'Jelszó megváltoztatása', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ha nem Te kérted email címed megváltoztását, hagyd figyelmen kívül ezt az emailt.</p>
<p>A jelszavad nem változik meg, míg a linkre kattintva nem változtatod meg.</p>
